<script src="/angular.min.js"></script>
<script src="/sugar.min.js"></script>
<%= link_to('返回项目列表', team_projects_path(team_id: @team.id)) %>
<div ng-app="TowerHomework" ng-controller="MainCtrl">
  <ul class="event-list" ng-repeat="(groupDate, dateEvents) in eventGroupByDate">
    <div>
      <h2>
        {{groupDate}}
      </h2>
    </div>
    <li ng-repeat="event in dateEvents">
      <div class="project-title" ng-if="dateEvents[$index -1].project_id != event.project_id">
        <a href="/projects/{{event.project_id}}/todos">{{event.project_name}}</a>
      </div>

      <div class="created_at">
        {{event.created_at | date:"HH:mm"}}
      </div>

      <div class="actor_name">
        {{event.actor_name}}
      </div>

      <div class="action">
        <div ng-if="event.action == 'todo_create'">
          <span ng-if="event.meta_data.executor_name">
            给{{event.meta_data.executor_name}}
          </span>
          创建了任务
        </div>

        <div ng-if="event.action == 'comment_create'">
          回复了任务
        </div>

        <div ng-if="event.action == 'change_deadline'">
          将任务完成时间从
          <span ng-if="!event.from">没有截止日期</span>
          <span ng-if="event.from">{{event.from}}</span>
          修改为
          {{event.to}}
        </div>

        <div ng-if="event.action == 'change_executor'">
          将
          <span ng-if="event.from">{{event.from}}的</span>
          任务指派给 {{event.to}}
        </div>

        <div ng-if="event.action == 'destroy_todo'">
          删除了任务
        </div>

        <div ng-if="event.action == 'close_todo'">
          完成了任务
        </div>
      </div>

      <div class="target">
        ：<a href="/todos/{{event.target_todo_id}}/comments">{{ event.target_todo_content }}</a>
      </div>

      <div class="comment-content" ng-if="event.action == 'comment_create'">
        <p>
          {{event.meta_data.content}}
        </p>
      </div>
    </li>
  </ul>
  <div ng-show="onLoading">
    加载中
  </div>
  <p ng-show="hasMore()">
    <button ng-click="loadNextPageData()">加载更多</button>
  </p>

  <p ng-show="!hasMore()">
    没有更多了
  </p>
</div>

<script>
Date.prototype.mmdd = function() {
 var mm = (this.getMonth()+1).toString(); // getMonth() is zero-based
 var dd  = this.getDate().toString();
 return (mm[1]?mm:"0"+mm[0]) +'/' +(dd[1]?dd:"0"+dd[0]); // padding
};

angular.module('TowerHomework', [])
.controller('MainCtrl',
function($scope, $http){
  var events = [];
  $scope.eventGroupByDate = [];
  $scope.onLoading = false;
  var loadingUrl = "<%= team_events_path %>.json";
  var current_page = 0;
  var total_page = 0;

  $scope.hasMore = function(){
    return total_page > current_page;
  };

  var loadData = function(page){
    if(!page){
      page = 1;
    }
    $scope.onLoading = true;
    $http({method: 'GET', url: loadingUrl + "/?page=" + page}).then(function(data){
      events = $.merge(events, data.data.data);
      $scope.eventGroupByDate = events.groupBy(function(event){
        var date = new Date(event.created_at)
        return date.mmdd();
      });

      $scope.onLoading = false;
      current_page = data.data.current_page;
      total_page = data.data.total_page;
    })
  };

  loadData();

  $scope.loadNextPageData = function(){
    loadData(current_page + 1);
  };
});
</script>
