h1 =@team.name
= link_to('返回团队列表', teams_path)
|  
= link_to('查看项目动态', team_events_path(team_id: @team.id))
h3 项目列表
- if @team.projects.empty?
  p 当前还没有任何项目

ul
  - current_user.projects.each do |project|
    li =link_to(project.name, project_todos_path(project_id: project.id))
= link_to '创建新项目', new_team_project_path(@team)
